main {
    padding: 30px 50px;
    margin: 70px auto;
    left: 30px;
    border-radius: 15px;
    color: white;
}

.slogan {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: white;
}

.conteudo-centralizado {
    position: relative;
    right: 1px;
    margin: 62px auto;
    
}
.botao-doacao {
    background-color: #ffa500;
    color: white;
    padding: 12px 30px;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    display: inline-block;
    margin-top: 43px;
    margin-left: 200px;
}

.botao-doacao:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    color:black;
    border-radius: 30px;    
}

